.banner{
    justify-content: center;
    display: flex;
    align-items: center;
    color: red;
    background: black;
    border-radius: 3%;
    transition: 1s;
}

.banner:hover{
    color: rgb(19, 0, 128);
    transition: 1s;
}